<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page['team'] }}</title>
    <!-- Add any additional meta tags, stylesheets, or scripts here -->
</head>
<body>
    <header>
        <h1>{{ page['team'] }} {{ page['tractor'] }} Hook {{ page['hook_num'] }}</h1>

    </header>

    <nav>
        <!-- Add your navigation menu here if needed -->
    </nav>

    <main>
        <h2>{ "Hello"}</h2>
        <p>{{ page['team'] }}</p>
    </main>

    <footer>
        <!-- Your footer content goes here -->
    </footer>
</body>
</html>
