<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Add any additional meta tags, stylesheets, or scripts here -->
</head>
<body>
    <header>
        <h1>Welcome to Your Flask App</h1>
    </header>

    <nav>
        <!-- Add your navigation menu here if needed -->
    </nav>

    <main>
        <h2>Welcome to the Home Page</h2>
        <p>This is the content of the home page.</p>
        <!--img src="{{ url_for('static', filename='images.jpg') }}" alt="Your Image">-->
        <img src="{{ url_for('static', filename='my_plot.png') }}" alt="Your Image">
    </main>

    <footer>
        <!-- Your footer content goes here -->
    </footer>
</body>
</html>
